/* // <uniquifier>: Use a unique and descriptive class name */
/* // <weight>: Use a value from 300 to 700 */

.teko-400 {
    font-family: "Teko", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
.oxanium-400 {
    font-family: "Oxanium", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  