<div class="container-fluid">
    <div class="row my-5">
        <div class="col mx-5">
            <h2 class="mb-0">
                <span class="text-primary">Emergent Variants</span>
            </h2>
 
        </div>
    </div>      

    <div class="row my-5">
        <div class="col-md-8 mx-5">
                {% for post in site.categories.emergent-variants limit:4 %}
                    {% include single-post.html %}
                {% endfor %}
        </div>
    </div>        

</div>
