<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

    <body id="page-top">

        {% include projects/navbar.html %}

        <!-- Page Content-->
        <div class="container-fluid p-0">

            <section class="p-5">
                <div class="resume-section-content">
                    <h2 class="mb-5">Projects</h2>

                    {% include projects/tabs.html %}

                    <div class="tab-content" id="ex1-content">
                        {% include projects/tab_content.html %}
                    </div>

                </div>
            </section>

        </div>

        {% include foot.html %}

    </body>
</html>
