<!-- Image on left -->

<div class="row">
    <div class="col-md-4">
        <img class="img-fluid rounded mb-3 mb-md-0" src="{{ site.url }}{{ site.baseurl }}/assets/img/portfolio/projects/{{ item.thumbnail }}" alt="">
    </div>
    <div class="col-md-5">

      <h3>
        {% if item contains 'url' %}<a href="{{ site.url }}{{ site.baseurl }}/{{ item.url }}">{% endif %}
          {{ item.title }} 
          {% if item contains 'url' %}</a>{% endif %}

          {% if item contains 'external-url' %}
          | <a href={{ item.external-url }} target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
          {% endif %}
        </h3> 

        <p>{{ item.description }}</p>
      <p>
      {% for icon in item.icons %}
      <i class={{ icon }} style="font-size: xx-large;"></i>
      {% endfor %}
      </p>
    </div>
</div>      