 <!-- Portfolio Modals -->
 {% for post in site.categories.research %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">

                            <div class="modal-text">
                            {% if post.description %}
                                <p>{{ post.description }}</p>
                            {% endif %}
                            {% if post.content %}
                                <p>{{ post.content }}</p>
                            {% endif %}
                            <ul class="list-inline item-details">
                                {% if post.co-authors %}
                                    <li><b>Co-Authors</b>: {{ post.co-authors }}
                                        <!-- <strong><a href="http://startbootstrap.com">{{ post.client }}</a></strong> -->
                                    </li>
                                {% endif %}
                                {% if post.project-date %}
                                    <li><b>Date</b>: {{ post.project-date }}
                                    </li>
                                {% endif %}
                                {% if post.topic %}
                                    <li><b>Topic</b>: {{ post.topic }}
                                    </li>
                                {% endif %}
                            </ul>
                            </div>

                            {% if post.pdflink %}
                            <a href="files/{{ post.pdflink }}"><button type="button" class="btn btn-default btn-modal"><i class="fas fa-file-pdf"></i> PDF</button></a>
                            {% endif %}

                            {% if post.doilink %}
                            <a href="{{ post.doilink }}" target="_blank"> <button type="button" class="btn btn-default btn-modal"><i class="fa fa-external-link-square-alt"></i> Link</button> </a>
                            {% endif %}

                            <button type="button" class="btn btn-default btn-modal" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
