<section id="skills">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Key Skills</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
<div class="skillset">
  <ul>
    <li> Familiarity with numerical simulation systems for electromagnetic fields, specifically in Comsol and Lumerical, as well as scripting using Matlab</li>
<li> Able to adapt previous experience on using similar systems to learn new methods of numerical simulations, or programming languages</li>
<li> Proven ability to read and perform literature review, write, and present technical and scientific details in fluent English</li>
<li> Capable and always very curious about learning about entirely new fields of physics</li>
  </ul>
</div>
        </div>
    </div>
</section>
