<section class="resume-section" id="blog">
    <div class="resume-section-content">
        <h2 class="mb-5">Recent Blog Posts</h2>

        <ul style="list-style-type:none">
        {% for post in site.posts limit:10 %}
            
                {% if post.category != 'zemmy' %}
                <li class="my-3"><a href="{{ post.url }}"> {{ post.title }} </a> | in {{ post.category }} on {{ post.date | date: "%Y %B %-d"}} </li>
                {% else %}
                <li> <span class="text-primary">{{ post.title }}</span> | on {{ post.date | date: "%Y %B %-d"}}
                    <div class="mx-5">{{ post.content }}</div>
                </li>
                {% endif %}

      {% endfor %}
        </ul>
    </div>
</section>
