<section class="resume-section" id="portfolio">
    <div class="resume-section-content">
      {% assign page_number = 0 %}
        <h2 class="mb-5">Projects</h2>


        {% for item in site.data.projects %}
        {% capture modulo %}{{ forloop.index | modulo: 2 }}{% endcapture %}

        {% if item.category contains 'featured' %}
        <div class="tab-content" id="tabs-featured">
          {% if modulo == '1' %}
            {% include projects/content_left.html %}
          {% endif %}

          {% if modulo == '0' %}
            {% include projects/content_right.html %}
          {% endif %}

          </div>
        {% endif %}





          {% endfor %}

</div>

  </section>
