{% for cat in category_array %}
    {% assign projects = site.data.projects | where: "category", cat %}
    {% if cat == 'featured' %}
    <div class="tab-pane mt-3 fade show active" id="ex1-tabs-featured" role="tabpanel" aria-labelledby="ex1-tab-featured">
    {% else %}
    <div class="tab-pane mt-3 fade" id="ex1-tabs-{{cat}}" role="tabpanel" aria-labelledby="ex1-tab-{{cat}}">
    {% endif %}

    {% for item in projects %}
        {% capture modulo %}{{ forloop.index | modulo: 2 }}{% endcapture %}

            {% if modulo == '1' %}
                {% include projects/content_left.html %}
            {% endif %}
            
            {% if modulo == '0' %}
                {% include projects/content_right.html %}
            {% endif %}

    {% endfor %}

    </div>
    

{% endfor %}