<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

    <body id="page-top">

        {% include navigation.html %}

        <!-- Page Content-->
        <div class="container-fluid p-0">

            To be updated
            <hr class="m-0" />

            





            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#home" class="nav-link active" data-bs-toggle="tab">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#profile" class="nav-link" data-bs-toggle="tab">Profile</a>
                </li>
                <li class="nav-item">
                    <a href="#messages" class="nav-link" data-bs-toggle="tab">Messages</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="home">
                    <p>Home tab content ...</p>
                </div>
                <div class="tab-pane fade" id="profile">
                    <p>Profile tab content ...</p>
                </div>
                <div class="tab-pane fade" id="messages">
                    <p>Messages tab content ...</p>
                </div>
            </div>










        </div>

        {% include foot.html %}

    </body>
</html>
