<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

    <body id="page-top">

        {% include navigation.html %}

        <!-- Page Content-->
        <div class="container-fluid p-0">

            {% include frontpage/about.html %}
            <hr class="m-0" />

            {% include frontpage/experience.html %}
            <hr class="m-0" />

            {% include frontpage/education.html %}
            <hr class="m-0" />

            {% include contact.html %}

        </div>

        {% include foot.html %}

    </body>
</html>
