:root {
    --light-bg: #fcfaf5;
    --light-bg-form: #909294;
    --light-sidebar: #555566;
    --light-sidebar-text: #aaaaaa;
    --light-header: #bb9955;
    --light-link: #aaaaaa;
    --light-text: #111112;
    --light-button-hover: #333333;
    --light-post-desc: #555566;
    --light-post-timestamp: #bb9955;
    --light-post-link: #4455aa;
    --light-icon-color: #fcfaf5;
  
    --dark-bg: #111112;
    --dark-bg-form: #1A1918;
    --dark-sidebar: #555566;
    --dark-sidebar-text: #aaaaaa;
    --dark-header: #bb9955;
    --dark-link: #aaaaaa;
    --dark-text: #E6E3DF;
    --dark-button-hover: #333333;
    --dark-post-desc: #555566;
    --dark-post-timestamp: #bb9955;
    --dark-post-link: #4455aa;
    --dark-icon-color: #111112;
  }
  

{% include css/bootstrap.min.css %}
{% include css/main.css %}
{% include css/timeline.css %}

.FertigoPro-Regular {
	font-family: FertigoPro-Regular;
	font-weight: normal;
	font-style: normal;
}
