<section class="resume-section" id="research">
    <div class="resume-section-content">
        <h2 class="mb-5">Scientific Research</h2>


        
        {% for item in site.data.research %}
        {% capture modulo %}{{ forloop.index | modulo: 3 }}{% endcapture %}

        {% assign paper_citekeys = item.publications %}
        {% assign paper_size = paper_citekeys | size %}
        {% assign conf_citekeys = item.conferences %}
        {% assign conf_size = conf_citekeys | size %}
        {% assign output_size = paper_size + conf_size %}

        {% if modulo == '1' %}<div class="row">{% endif %}

            <div class="col-lg-4 col-sm-6 mb-4">
              <div class="card h-100" style="background-color: #{{ site.page-color }}">
                {% if output_size > 0 %} <a href="#" data-toggle="modal" data-target="#modal{{ item.citekey }}"> {% endif %}
                  <img class="card-img-top" src="{{ site.url}}/{{ site.baseurl}}/assets/img/portfolio/research_thumb/{{ item.thumbnail }}" alt="{{ item.description }}">
                {% if output_size > 0 %} </a> {% endif %}
                <div class="card-body">
                  <h4 class="card-title">

                    {% if output_size > 0 %} <a href="#" data-toggle="modal" data-target="#modal{{ item.citekey }}"> {% endif %}
                      {{ item.title }}
                    {% if output_size > 0 %} </a> {% endif %}

                  </h4>
                  <p class="card-text">{{ item.description }}</p>

                </div>
              </div>
            </div>

            {% if modulo == '0' or forloop.last %}</div>{% endif %}


          <!-- Modal -->
          <div class="modal fade" id="modal{{ item.citekey }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">

                  <div class="subheading mb-3 modal-title" id="exampleModalLabel">{{ item.title }}</div>

                </div>

                <div class="modal-body">


                  {% if paper_size > 0 %} 
                      <h4>Related Publications</h4>
                      
                      <ul class="fa-ul mb-0">                    
                      {% for cite in paper_citekeys %}
                      {% assign paper = site.data.publications | where:"citekey",cite | first %}
                      <li class="my-3">
                          <span class="fa-li"><i class="{{ paper.icon }}"></i></span>
                          <p><b>{{ paper.title }}</b>
                          <br /> Published in <em>{{ paper.journal }}</em>, {{ paper.date }}</p>
                          <!-- <a href="{{ site.url}}/{{ site.baseurl}}/files/full-papers/{{ paper.pdf }}"><i class="far fa-file-pdf"></i></a> -->
                      </li>
                      {% endfor %}
                      </ul>
                      
                  {% endif %}
                    
                  {% if conf_size > 0 %}                 
                      <h4>Conference Presentations</h4>

                      <ul class="fa-ul mb-0">                    
                      {% for cite in conf_citekeys %}
                      {% assign conference = site.data.conferences | where:"citekey",cite | first %}
                      <li>
                          <span class="fa-li"><i class="{{ conference.icon }}"></i></span>
                          <p><b>{{ conference.title }}</b>
                            <br /> Presented on <em>{{ conference.conference }}</em>, {{ conference.date }} at {{ conference.location }} ({{ conference.type}})
                          <!-- <a href="{{ site.url}}/{{ site.baseurl}}/files/full-papers/{{ conference[0].pdf }}"><i class="far fa-file-pdf"></i></a> -->
                      </li>
                      {% endfor %}
                      </ul>
                  {% endif %}


                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>



        {% endfor %}
</div>



    </div>    
</section>
